body {
  padding-top: 2%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.tengah {
  margin: auto;
}

.logo {
  font-size: 1em;
}

.warna1 {
  background-color: #ccc;
}

.warna2 {
  background-color: #A0FBE1;
}

.warnaTeks {
  color: #4F6358;
}

.marginBlockquote {
  margin-right: 2%;
}

.divBordered {
  border: 2px;
}

.padder {
  padding: 3%;
}

.fotoprofil {
  max-width: 100px;
  height: auto;
}