{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Morizkay</title>

  <link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.css'%}" />

  <link rel="stylesheet" type="text/css" href="{% static 'custom.css'%}" />

  <link rel="stylesheet"
    href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" />

  <script src="{% static 'materialize/js/materialize.js' %}"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/596abbb5f6.js"></script>
</head>

<body class="warna2">
  <div class="container tengah">
    <div class="row">
      <div class="col s12 center-align">
        <h4>Moh. Rizky</h4>
        <a href="mail:morizkay@live.com"><i class="fas white-text fa-envelope"></i>Email</a> || <a
          href="https://wa.me/6281241996168"><i class="fab green-text fa-whatsapp"></i>Whatsapp</a>
        <h6>22 Tahun, Kota Palu</h6>
        <p>
          Saya Moh. Rizky, mahasiswa Program Studi Teknik Informatika, Jurusan
          Teknologi Informasi, Universitas Tadulako angkatan 2015
        </p>
        <div class="col s4 m3 l2">
          <a href="http://linkedin.com/i/morizkay" class="social blue-text"><i class="fab fa-3x fa-linkedin"></i></a>
        </div>
        <div class="col s4 m3 l2">
          <a href="http://goodreads.com/morizkay" class="social brown-text lighten-3"><i
              class="fab fa-3x fa-goodreads"></i></a>
        </div>
        <div class="col s4 m3 l2">
          <a href="http://instagram.com/morizkay" class="social pink-text"><i class="fab fa-3x fa-instagram"></i></a>
        </div>
        <div class="col s4 m3 l2">
          <a href="http://youtube.com/morizkay" class="social red-text"><i class="fab fa-3x fa-youtube"></i></a>
        </div>
        <div class="col s4 m3 l2">
          <a href="http://gitlab.com/morizkay" class="social yellow-text"><i class="fab fa-3x fa-gitlab"></i></a>
        </div>
        <div class="col s4 m3 l2">
          <a href="http://github.com/morizkay" class="social black-text"><i class="fab fa-3x fa-github"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <i class="fas fa-book-open"></i>Latar Belakang Pendidikan
          </div>
          <div class="collapsible-body">
            <div>
              <ul>
                <li class="collection-item">
                  <h5>Universitas Tadulako</h5>
                  <h6>2015 - Sekarang</h6>
                  <p class="align-content-center">
                    Program Studi S1 Teknik Informatika, Jurusan Teknologi
                    Informasi, Fakultas Teknik
                  </p>
                </li>
                <li class="collection-item">
                  <h5>SMK Negeri 3 Paluu</h5>
                  <h6>2012 - 2015</h6>
                  <p class="align-content-center">
                    Teknik Komputer Jaringan
                  </p>
                </li>

                <li class="collection-item">
                  <h5>SMP Negeri 4 Palu</h5>
                  <h6>2009 - 2012</h6>
                </li>

                <li class="collection-item">
                  <h5>SD Inpres 1 Tanamodindi</h5>
                  <h6>2003 - 2009</h6>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="fas fa-briefcase"></i>Pengalaman Kerja dan Organisasi
          </div>
          <div class="collapsible-body">
            <div>
              <ul class="collection with-header">
                <li class="collection-item">
                  <h5>Programmer</h5>
                  <h6>21 Juni 2019-Sekarang</h6>
                  <p class="align-content-center">Social Brand Project</p>
                </li>
                <li class="collection-item">
                  <h5>Asisten Praktikum Data Warehouse</h5>
                  <h6>Semester Genap Tahun Ajaran 2018/2019</h6>
                  <p class="align-content-center">
                    Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
                    Tadulako
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Tim Teknis Data (Magang)</h5>
                  <h6>03 September - 28 September 2018</h6>
                  <p class="align-content-center">
                    Dinas Penanaman Modal Dan Pelayanan Terpadu Satu Pintu
                    Prov. Sulteng
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Asisten Praktikum Struktur Data</h5>
                  <h6>Semester Genap Tahun Ajaran 2017/2018</h6>
                  <p class="align-content-center">
                    Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
                    Tadulako
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Asisten Praktikum Sistem Informasi</h5>
                  <h6>Semester Genap Tahun Ajaran 2017/2018</h6>
                  <p class="align-content-center">
                    Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
                    Tadulako
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Ketua Departemen Hubungan Masyarakat</h5>
                  <h6>Periode 2019</h6>
                  <p class="align-content-center">
                    Himpunan Mahasiswa Teknik Informatika Universitas Tadulako
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Asisten Praktikum Basis Data</h5>
                  <h6>Semester Ganjil Tahun Ajaran 2017/2018</h6>
                  <p class="align-content-center">
                    Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
                    Tadulako
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Asisten Praktikum Algoritma dan Dasar Pemrograman</h5>
                  <h6>Semester Ganjil Tahun Ajaran 2017/2018</h6>
                  <p class="align-content-center">
                    Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
                    Tadulako
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Asisten Praktikum Algoritma dan Dasar Pemrograman</h5>
                  <h6>Semester Ganjil Tahun Ajaran 2016/2018</h6>
                  <p class="align-content-center">
                    Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
                    Tadulako
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Anggota</h5>
                  <h6>2016 - 2018</h6>
                  <p class="align-content-center">
                    Himpunan Mahasiwa Teknik Informatika Universitas Tadulako
                  </p>
                </li>
                <li class="collection-item">
                  <h5>Anggota</h5>
                  <h6>2014 - Sekarang</h6>
                  <p class="align-content-center">
                    Purna Paskibraka Indonesia Provinsi Sulawesi Tengah
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li>
          <div class="collapsible-header">
            <i class="fas fa-laptop-code"></i>Teknologi yang Dapat Digunakan
          </div>
          <div class="collapsible-body">
            <div class="row center-align">
              <!-- //Android -->
              <div class="col s2 m4 l4 logo">
                <a href="http://android.com" class="social black-text"><i class="devicon-android-plain"></i>
                </a>
              </div>
              <!-- //C++ -->
              <div class="col s2 m4 l4 logo">
                <a href="https://isocpp.org/" class="social black-text"><i class="devicon-cplusplus-plain"></i>
                </a>
              </div>
              <!-- //C# -->
              <div class="col s2 m4 l4 logo">
                <a href="http://csharp.net/" class="social black-text"><i class="devicon-csharp-plain"></i>
                </a>
              </div>
              <!-- //Express -->
              <div class="col s2 m4 l4 logo">
                <a href="http://expressjs.com/" class="social black-text"><i class="devicon-express-original"></i>
                </a>
              </div>
              <!-- //GIT -->
              <div class="col s2 m4 l4 logo">
                <a href="http://git-scm.com/" class="social black-text"><i class="devicon-git-plain"></i>
                </a>
              </div>
              <!-- //MySQL -->
              <div class="col s2 m4 l4 logo">
                <a href="http://mysql.com" class="social black-text"><i class="devicon-mysql-plain"></i>
                </a>
              </div>
              <!-- //MongoDB -->
              <div class="col s2 m4 l4 logo">
                <a href="http://mongodb.com" class="social black-text"><i class="devicon-mongodb-plain"></i>
                </a>
              </div>
              <!-- //NodeJS -->
              <div class="col s2 m4 l4 logo">
                <a href="http://nodejs.com" class="social black-text"><i class="devicon-nodejs-plain"></i>
                </a>
              </div>
              <!-- //React -->
              <div class="col s2 m4 l4 logo">
                <a href="http://reactjs.com" class="social black-text"><i class="devicon-react-plain"></i>
                </a>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="collapsible-header">
            <i class="fas fa-folder-open"></i>Portofolio
          </div>
          <div class="collapsible-body center-align">
            <div class="row ">
              <div class="col s12 center-align">
                <i class="fas fa-3x fa-folder-open"></i>
                <p>Ingin jadi yang pertama? </p>
                <h5>Hubungi saya : </h5>
                <a href="mail:morizkay@live.com"><i class="fas white-text fa-envelope"></i>Email</a> || <a
                  href="https://wa.me/6281241996168"><i class="fab green-text fa-whatsapp"></i>Whatsapp</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".collapsible");
      var instances = M.Collapsible.init(elems);
    });
  </script>
</body>

</html>